// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// snaphappi variables
@snappi-red:            #D01F40;
@snappi-darkred:        #711124;
@snappi-orange:         #F16122;
@snappi-yellow:         #FDF9D0;
@snappi-darkblue:       #152437;   
@snappi-peach:          #E9C1C1;

@font-size-mini:         ceil(@font-size-base * 0.75); // ~11px


.device {
	&.device-border {
		position: fixed;	
		border: 1px solid green;
	}
	&.device-wrap {
		position: relative;	
		background-color: @gray-light;
	}
	
	box-sizing: border-box;
	&.iphone4 {
		width: 320px;
		height: 480px;
		
	}
	&.iphone5 {
		width: 320px;
		height: 568px;	
	}
}

i.fa {
  cursor: default;
}

.force-dl-horizontal dt {
	float: left;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.drawer, .drawer-group {
  font-size: @font-size-small;
  .item {
    padding: 4px 0;
    color: @gray-light; 
  }
  .item:hover, .item.active {
    font-weight: bold;
    color: white;
  }
  .panel-heading, .item {
    cursor: default;
  }

  /* bootstrap override */
  
  .panel-body {
    padding-bottom: 0;
  }
  &.inverse > * , .panel {
    color: #FFFFFF;
    background-color: @snappi-darkblue;
  }
  a:hover, a:focus,  {
    text-decoration: none;
  }

}

.drawer {
  &.inverse, &.inverse .panel-heading {
    border-color: @snappi-darkblue;
  }
  &.inverse .panel-collapse {
    border-top: 1px solid #FFF;
  } 
  margin: auto -12px;
}

.drawer-group {
  &.inverse, &.inverse .panel-heading {
    border-color: @snappi-darkblue;
  }
  &.inverse .panel-collapse {
    border-top: 0.5px solid #FFF;
  } 
  .panel-heading {
    padding-left: 0;
  }
}



ul.challenges {
	padding-left: 0;
}

.challenge {
	border: 2px solid @gray-dark;		
	border-radius: 10px;
	margin: 10px;
	padding: 10px;

	figure {
		.icon {

		}
		.category{
			
		}
	}
	.body {
		.center-block();
		.heading {
			font-size: @font-size-small;	
		}
		position: relative;
		.title {
			font-size: @font-size-large;	
			font-weight: bold;
		}
		.description {
			font-size: @font-size-small;	
			width: 80%;
		}
		.meta {
			.stats-wrap {
				margin-bottom: 0;
			}
			border-radius: 10px;
			width: 60%;
			.center-block();
			font-size: @font-size-small;
			dl {
				position: relative;
				.center-block();
				dt {
					width: 70%;
				}
				dd {
					width: 25%;
					margin-left: 75%
				}
			}
		}
	}

	&.card {

	}
	&.summary {

	}
	&.detail {

	}
}
