// Core variables and mixins
@import "variables.less";
@import "mixins.less";

.device {
	&.device-border {
		position: fixed;	
		border: 1px solid green;
	}
	&.device-wrap {
		position: relative;	
		background-color: @gray-light;
	}
	
	box-sizing: border-box;
	&.iphone4 {
		width: 320px;
		height: 480px;
		
	}
	&.iphone5 {
		width: 320px;
		height: 568px;	
	}
}

.force-dl-horizontal dt {
	float: left;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.challenges {
	padding-left: 0;
}

.challenge {
	border: 2px solid @gray-dark;		
	border-radius: 10px;
	margin: 10px;
	padding: 10px;

	figure {
		.icon {

		}
		.category{
			
		}
	}
	.body {
		.center-block();
		.heading {
			font-size: @font-size-small;	
		}
		position: relative;
		.title {
			font-size: @font-size-large;	
			font-weight: bold;
		}
		.description {
			font-size: @font-size-small;	
			width: 80%;
		}
		.meta {
			.stats-wrap {
				margin-bottom: 0;
			}
			border-radius: 10px;
			width: 60%;
			.center-block();
			font-size: @font-size-small;
			dl {
				position: relative;
				.center-block();
				dt {
					width: 70%;
				}
				dd {
					width: 25%;
					margin-left: 75%
				}
			}
		}
	}

	&.card {

	}
	&.summary {

	}
	&.detail {

	}
}
