 <!-- div.thumb thumbnail template  -->
<div id="{{photo.id}}" 
  class="thumb fade in {{photo.orientationLabel}}" 
  hm-double-tap="(card.status =='active') && swipe('thumb-img', $event, $index)"
  hm-swipe-left="(card.status =='active') && swipe('thumb-img', $event, $index)"
  hm-swipe-left-opts="{drag_block_horizontal: true}"
  >
      <div class="crop-wrap" >
        <div class="crop">
          <img class=""  
            data-w0="{{photo.origW}}"
            data-h0="{{photo.origH}}"
            data-root-src="{{photo.rootSrc}}"
            ng-src="{{photo.src}}"
          >
      </div>
    </div>
  <div class="meta">
    <div ng-show="!!photo.caption" class="title truncate">
      {{photo.caption}}
    </div>
    <div class='bottom-row'> 
      <span class="inline-icons left">
        <i ng-show="!!photo.shotCount" class='btn-icon fa fa-reorder show-hidden-shot' title='click to hide duplicate shots'></i>
        <rating rating-type="photo"
        ng-click="persistRating($event,$index)" value="photo.rating" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
      </span>
      <span class="inline-icons right">
        <i class='btn-icon fa {{photo.favorite && 'fa-heart' || 'fa-heart-o'}} ' title='favorite'> {{photo.favorite}}</i>
        <i class='btn-icon fa fa-info-circle'  title='show info'></i>
        <i class='btn-icon zoom-in fa fa-arrow-right' title='show full screen (planned)'></i>
      </span>
    </div>
  </div>
</div>  <!-- /div.thumb -->