<div class="container">
  <div class="row">
    <div class="span2">
      <!--Nav/Sidebar content-->
      <accordion>
        <accordion-group class='drawer inverse' is-open="drawer.isDrawerOpen">
          <accordion-heading>
            <i class='fa fa-bars fa-lg'></i>
          </accordion-heading>
          <div class='item'><input ng-model="drawer.query" placeholder="Search"></div>
          <div class='item'>
            <button type="button" ng-click="shuffleDeck()"  class="btn btn-xs btn-default">Shuffle</button>
          </div>

          <accordion close-others="true">
            <accordion-group ng-repeat="group in drawer.json.data" is-open="group.isOpen" class='drawer-group inverse'>
              <accordion-heading>
                <span ng-bind-html="group.label" ng-click="drawer.forceGroupOpen(group)"></span>
                <span ng-bind="group.count" class="badge badge-default"></span>
              </accordion-heading>
              <div ng-repeat="options in group.items" 
              class="item"
              ng-class="{active: options.name==drawer.drawerItemState.state.active}"
              ng-click="itemClick(options)">
                <span ng-bind-html="options.label"></span>
              </div>
            </accordion-group>
          </accordion>

        </accordion-group> 
      </accordion>
      <!--/ Nav/Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
      <div ng-repeat="card in deckCards| filter:$root.drawer.query | orderBy:orderProp | limitTo:5" >
      <div ng-model="card"
            class="moment card summary list-unstyled text-center">
        <ul class='header list-inline list-unstyled'>   
          <li>
            <figure class="icon">
              <i class="icon {{card.challenge.icon}} fa-3x"></i>
              <figcaption class="category">{{card.challenge.category.join(":")}}</figcaption>
            </figure>
          </li>
          <li ng-click="isCardExpanded = !isCardExpanded" class="title">
            {{card.challenge.title}} 
            <i class="toggle fa fa-fw {{isCardExpanded && 'fa-chevron-down' || 'fa-chevron-right'}}"></i>
          </li>
        </ul> 
        <div collapse="!isCardExpanded"> 
          <div class="body clearfix">
            <div class="meta well pull-left">
              <div class="header inverse">Moment</div>
              <dl class="moment-stats stats-wrap force-dl-horizontal">
                <dt>Completed</dt><dd title="completed on {{card.humanize.completed}}">{{card.humanize.completedAgo}}</dd>
                <dt>Duration</dt><dd>{{card.humanize.completedIn}}</dd>
                <dt>Photos</dt><dd>{{card.stats.count}}</dd>
                <dt>Viewed</dt><dd ng-pluralize count="card.stats.viewed" when="{'one':'1 time','other':'{} times'}"></dd>
                <rating value="card.stats.rating.moment" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
              </dl>
            </div>
            <div class="meta well pull-right">
              <div class="header inverse">Challenge</div>
              <dl class="challenge-stats stats-wrap force-dl-horizontal">
                <div><b>{{card.challenge.humanize.completions}} completed</b></div>
                <dt>Accept</dt><dd>{{card.challenge.humanize.acceptPct | number:1}}%</dd>
                <dt>Pass</dt><dd>{{card.challenge.humanize.passPct | number:1}}%</dd>
                <dt>Avg Time</dt><dd>{{card.challenge.humanize.avgDuration}}</dd>
                <rating value="card.stats.rating.challenge" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
                <span class="label label-default" title="average rating for this challenge">{{card.challenge.humanize.avgRating}}</span>
              </dl>
            </div>
          </div>
          <div class="footer clearfix">
            <div class="btn-group">
              <button type="button" class="btn btn-default"><i class="fa fa-pencil-square"></i></button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i></button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default"><i class="fa fa-thumbs-down"></i></button>
              <button type="button" class="btn btn-default"><i class="fa fa-thumbs-up"></i></button>
            </div>
          </div>
        </div> 
      </div>
      <div class="gallery clearfix">
        <div ng-repeat="photo in card.photos"
          id="{{photo.id}}" 
          class="thumb fade in {{photo.orientationLabel}}" 
          style="{{top}}{{position}}">
              <div class="crop-wrap">
                <div class="crop">
                  <img class=""  
                    data-w0="{{photo.origW}}"
                    data-h0="{{photo.origH}}"
                    data-root-src="{{photo.rootSrc}}"
                    ng-src="{{photo.src}}" 
                  >
              </div>
            </div>
          <div class="meta">
            <div ng-show="!!photo.caption" class="title truncate">
              {{photo.caption}}
            </div>
            <div class='bottom-row'> 
              <span class="inline-icons left">
                <i ng-show="!!photo.shotCount" class='btn-icon fa fa-reorder show-hidden-shot' title='click to hide duplicate shots'></i>
                <rating value="photo.rating" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
              </span>
              <span class="inline-icons right">
                <i class='btn-icon fa {{photo.favorite && 'fa-heart' || 'fa-heart-o'}} ' title='favorite'> {{photo.favorite}}</i>
                <i class='btn-icon fa fa-info-circle'  title='show info'></i>
                <i class='btn-icon zoom-in fa fa-arrow-right' title='show full screen (planned)'></i>
              </span>
            </div>
          </div>
        </div>  <!-- /div.thumb -->
      </div>
      </div>
    </div>
  </div>
</div>