<!-- <ng-include src="'views/partials/_drawer.html'"></ng-include> -->
<div>
  <div class='drawer inverse panel col-xs-right-inset'>
    <div class="panel-heading clearfix col-xs-right-inset">
      <i id='drawer-open-btn' class='fa fa-bars fa-lg pull-left hidden-xs'
      ></i>
      <i class="fa fa-question-circle fa-lg pull-right hidden-xs"
      ng-click="helpService.show($event)"></i>
      <div class="panel-title text-center center-block">Menu</div>
    </div>
    <div class="panel-body col-xs-right-inset">
      <div class='item search-wrap'>
        <input class="search" 
        ng-model="drawer.state.query" 
        ng-change="deck.cards('refresh')"
        placeholder="Search">
        <i class="fa fa-times-circle fa-lg" ng-hide="!drawer.state.query" ng-click="drawer.state.query=''"></i>
      </div>
      <div class='item'>
        <button type="button" ng-click="shuffleDeck()"  class="shuffle btn btn-xs btn-default">Shuffle</button>
      </div>

      <div class="panel" name="gethappi">
        <div class="panel-heading">
          <h4 class="panel-title" ng-click="drawer.drawerItemClick('drawer-gethappi-mostrecent')">
            <i class="fa fa-smile-o"> </i> <span class='styled'>GetHappi</span> Moments
            <span ng-bind="drawer.state.counts['gethappi']" class="badge badge-default"></span>
          </h4>
        </div>
        <div class="panel-body">
          <div id="drawer-gethappi-mostrecent" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-gethappi-mostrecent')}"
          ng-click="drawer.drawerItemClick($event)">
            Most Recent
          </div>
          <div id="drawer-gethappi-rating" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-gethappi-rating')}"
          ng-click="drawer.drawerItemClick($event)">
            Top Rated
          </div>
          <div id="drawer-gethappi-name" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-gethappi-name')}"
          ng-click="drawer.drawerItemClick($event)">
            by Name
          </div>
          <div id="drawer-gethappi-category" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-gethappi-category')}"
          ng-click="drawer.drawerItemClick($event)">
            by Category
          </div>
          <div id="drawer-gethappi-shuffle" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-gethappi-shuffle')}"
          ng-click="drawer.drawerItemClick($event)">
            Shuffle
          </div>
          <div id="drawer-gethappi-shared" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-gethappi-shared')}"
          ng-click="drawer.drawerItemClick($event)">
            Shared Moments
          </div>
        </div>
      </div>
      <div class="panel" name='findhappi'>
        <div class="panel-heading">
          <h4 class="panel-title" ng-click="drawer.drawerItemClick('drawer-findhappi-current')">
            <i class="fa fa-search"></i> <span class='styled'>FindHappi</span> Challenges
            <span ng-bind="drawer.state.counts['findhappi']" class="badge badge-default"></span>
          </h4>
        </div>
        <div class="panel-body">
          <div id="drawer-findhappi-current" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-findhappi-current')}"
          ng-click="drawer.drawerItemClick($event)">
            Challenge: Current
            <span ng-bind="drawer.state.counts['challenge']['active']" class="badge badge-default"></span>
          </div>
          <div id="drawer-findhappi-working" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-findhappi-working')}"
          ng-click="drawer.drawerItemClick($event)">
            Challenge: Working
            <span ng-bind="drawer.state.counts['challenge']['working']" class="badge badge-default"></span>
          </div>
          <div id="drawer-findhappi-completed" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-findhappi-completed')}"
          ng-click="drawer.drawerItemClick($event)">
            Challenge: Completed
            <span ng-bind="drawer.state.counts['challenge']['complete']" class="badge badge-default"></span>
          </div>
          <div id="drawer-findhappi-passed" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-findhappi-passed')}"
          ng-click="drawer.drawerItemClick($event)">
            Challenge: Passed
            <span ng-bind="drawer.state.counts['challenge']['pass']" class="badge badge-default"></span>
          </div>
          <div id="drawer-findhappi-all" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-findhappi-all')}"
          ng-click="drawer.drawerItemClick($event)">
            Challenge: All
            <span ng-bind="drawer.state.counts['findhappi']" class="badge badge-default"></span>
          </div>
        </div>
      </div>
      <div class="panel" name='timeline'>
        <div class="panel-heading">
          <h4 class="panel-title" ng-click="drawer.drawerItemClick('drawer-timeline-toprated')">
            <i class="fa fa-calendar"></i> <span class='styled'>BeHappi</span> Timeline
            <span ng-bind="drawer.state.counts['timeline']" class="badge badge-default"></span>
          </h4>
        </div>
        <div class="panel-body">
          <div id="drawer-timeline-toprated" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-timeline-toprated')}"
          ng-click="drawer.drawerItemClick($event)">
            <i class="fa fa-picture-o"></i> Top Rated
          </div>
          <div id="drawer-timeline-mostrecent" class="item" 
          ng-class="{active: drawer.isDrawerItemActive('drawer-timeline-mostrecent')}"
          ng-click="drawer.drawerItemClick($event)">
            <i class="fa fa-picture-o"></i> Most Recent
          </div>
        </div>
      </div>
      <div class="panel" name='scoreboard'>
        <div class="panel-heading">
          <h4 class="panel-title">
            <i class="fa fa-list"></i> Scoreboard
          </h4>
        </div>
        <div class="panel-body">
          <div id="drawer-scoreboard-scoreboard" class="hidden item" ng-click="drawer.drawerItemClick($event)">
            Scoreboard (hidden)
          </div>
        </div>
      </div>
      <div class="panel" name='settings'>
        <div class="panel-heading">
          <h4 class="panel-title" ng-click="drawer.drawerItemClick('drawer-settings-reminder')">
            <i class="fa fa-cog fa-spin"></i> Settings
            <span ng-bind="drawer.state.counts['settings']" class="badge badge-default"></span>
          </h4>
        </div>
        <div class="panel-body">
          <div id="drawer-settings-gettingstarted" class="item" 
          ng-click="drawer.drawerItemClick($event)"
          ng-class="{active: drawer.isDrawerItemActive('drawer-settings-gettingstarted')}">
            <i class="fa fa-bullhorn"></i> Getting Started
          </div>
          <div id="drawer-settings-reminder" class="item" 
          ng-click="drawer.drawerItemClick($event)"
          ng-class="{active: drawer.isDrawerItemActive('drawer-settings-reminder')}">
            <i class="fa fa-bell"></i> Reminders
          </div>
          <div id="drawer-settings-about" class="item" 
          ng-click="drawer.drawerItemClick($event)"
          ng-class="{active: drawer.isDrawerItemActive('drawer-settings-about')}">
            <i class="fa fa-info-circle"></i> About Snaphappi
          </div>
          <hr />
          <div id="drawer-settings-debug" class="item" 
          ng-click="drawer.drawerItemClick($event)">
            Developer Mode
            <on-off-switch my-ng-model="CFG.debug" class="pull-right"></on-off-switch>
          </div>
          <div id="drawer-settings-reload" class="item" 
          ng-if="CFG.debug"
          ng-click="drawer.drawerItemClick($event)">
            <i class="fa fa-repeat"></i> Reload
          </div>
          <div id="drawer-settings-drawer" class="item hidden" 
          ng-if="CFG.debug"
          ng-click="drawer.drawerItemClick($event)">
            <i class="fa fa-times-circle"></i> Reset Navigation
          </div>
          <div id="drawer-settings-reset" class="item" 
          ng-if="CFG.debug"
          ng-click="drawer.drawerItemClick($event)">
            <i class="fa fa-times-circle"></i> Reset All Data
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<!--/ Nav/Sidebar content-->