// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// snaphappi variables
@snappi-red:            #D01F40;
@snappi-darkred:        #711124;
@snappi-orange:         #F16122;
@snappi-yellow:         #FDF9D0;
@snappi-darkblue:       #152437;   
@snappi-peach:          #E9C1C1;

@font-size-mini:         ceil(@font-size-base * 0.75); // ~11px


.drawer, .XXXdrawer-group {
  /*font-size: @font-size-small;*/
  .item {
    padding: 4px 0;
    color: @gray-light; 
    
  }
  .item:hover, .item.active {
    font-weight: bold;
    color: white;
  }
  .panel-heading, .item {
    cursor: default;
  }

  /* bootstrap override */
  
  &.inverse > * , .panel {
    color: #FFFFFF;
    background-color: @snappi-darkblue;
  }
  a:hover, a:focus,  {
    text-decoration: none;
  }

}

.drawer {
  &.inverse, &.inverse .panel-heading {
    border-color: @snappi-darkblue @snappi-darkblue white;

  }
  input.search {
    width: 100%;
  }
}

.XXXdrawer-group {
  &.inverse, &.inverse .panel-heading {
    border-color: @snappi-darkblue;
  }
  &.inverse .panel-collapse {
    border-top: 0.5px solid #FFF;
  } 
  .panel-heading {
    padding-left: 0;
  }
  .panel-body {
    padding-bottom: 0;
  }
}

