<!--Body content-->
<div id="getting-started">
<div rn-carousel rn-carousel-buffered  rn-carousel-indicator rn-carousel-index="carouselIndex"
>
	<div class="rn-carousel-slide card-wrap card-1"><div class="getting-started card text-center">
	  <div class="header">
	    <figure class="icon">
	      <i class="icon fa fa-3x fa-bullhorn"></i>
	      <figcaption class="category">Getting Started</figcaption>
	    </figure>  
	  </div>  
	  <div class="body">
	    <div class="title">#TooManyPhotos <span class="nowrap">#Overwhelmed #<i class="fa fa-frown-o"></i></span></div>
	    <div class="content text-left center-block">
<p>Forever scrolling through your CameraRoll? Can't find the photo you know is there?</p>
<p>Snaphappi is here to help. We take the 'work' out of your CameraRoll by making it <u><b>Play</b></u>. Find the Happi moments in your CameraRoll and put them at the tip of your fingers.</p>
<p>Re-living moments, telling stories, sharing photos — everything is <u><b>Easy</b></u> when you can see the big picture.</p>
		</div>
	  </div>
	  <div class="footer">
	  </div>
	</div></div>
	
	<div class="rn-carousel-slide card-wrap card-2"><div class="getting-started card text-center">
		  <div class="header">
		    <figure class="icon">
		      <i class="icon fa fa-3x fa-clock-o"></i>
		      <figcaption class="category" >Getting Started</figcaption>
		    </figure>  
		  </div>  
		  <div class="body">
		    <div class="title">Just 5 Minutes a Day</div>
		    <div class="content text-left center-block">
<p>Don't be overwhelmed. Just 5 minutes a day gets you a Happi CameraRoll.</p><p></p>
<ul>
	<li>Find <i class="fa fa-picture-o"></i> and build Happi Moments from your CameraRoll.</li>
	<li>Set an <i class="fa fa-bell fa-lg"></i> to catch you when you are on a break.
	</li><li>Re-live a Moment and <i class="fa fa-smile-o fa-2x"></i> your day!
	</li><li>Share <i class="fa fa-picture-o"></i> with your <i class="fa fa-users"></i>.
	</li>
</ul><p></p>
			</div>
		  </div>
		  <div class="footer">
		  	<div>Think of this as a personal trainer for your CameraRoll</div>
		  		
		  </div>
		</div></div>

	<div class="rn-carousel-slide card-wrap card-3"><div class="getting-started card text-center">
		  <div class="header">
		    <figure class="icon">
		      <i class="icon fa fa-3x fa-search"></i>
		      <figcaption class="category" >Find Happi</figcaption>
		    </figure>  
		  </div>  
		  <div class="body">
		    <div class="title">Your Challenge Awaits!</div>
		    <div class="content text-left center-block">
<p>We've got fun Challenges that cover every corner of your CameraRoll.</p><p>We'll offer a new Challenge every day — but feel free to pick your own. <i class="fa fa-search"></i> your CameraRoll with a fresh perspective and build a Happi Moment.</p><p></p>
<ul>
	<li>swipe <i class="fa fa-arrows-h"></i> to see more Challenges
	</li><li><i class="fa fa-hand-o-down"></i> 'Accept' to take on a Challenge, or <i class="fa fa-hand-o-down"></i> 'Repeat'
	</li><li>tap <i class="fa fa-picture-o"></i> to access your CameraRoll
	</li>
</ul><p></p>
<p>No pressure — you can always add to your Moments later.</p>
			</div>
		  </div>
		  <div class="footer">
		  </div>
		</div></div>
		
		<div class="rn-carousel-slide card-wrap card-4"><div class="getting-started card text-center">
		  <div class="header">
		    <figure class="icon">
		      <i class="icon fa fa-3x fa-smile-o"></i>
		      <figcaption class="category" >Get Happi</figcaption>
		    </figure>  
		  </div>  
		  <div class="body">
		    <div class="title">Take a Moment to Get Happi</div>
		    <div class="content text-left center-block">
<p>Re-live all your best Moments from one place.</p><p></p>
<ul>
	<li>tap <i class="fa fa-chevron-down"></i> for details
	</li><li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> your favorite Moments for quick access
	</li><li>tap <i class="fa fa-pencil-square-o"></i> to edit your Moments
	</li><li>tap <i class="fa fa-picture-o"></i> to add more photos
	</li><li>long-tap a photo in <i class="fa fa-pencil-square-o"></i> mode to remove
	</li></ul><p></p><p>Make this your 'go-to' place for those times when you're feeling <i class="fa fa-meh-o"></i>, or even <i class="fa fa-frown-o"></i></p>
			</div>
		  </div>
		  <div class="footer">
		  </div>
		</div></div>

		<div class="rn-carousel-slide card-wrap card-5"><div class="getting-started card text-center">
		  <div class="header">
		    <figure class="icon">
		      <i class="icon fa fa-3x fa-calendar"></i>
		      <figcaption class="category" >Timeline</figcaption>
		    </figure>  
		  </div>  
		  <div class="body">
		    <div class="title">This is Easy</div>
		    <div class="content text-left center-block">
<p>The Timeline is where all your hard work pays off.  No more digging through your CameraRoll — all your <i class="fa fa-heart"></i> photos are at the tip of your fingers(!) </p><p></p>
<ul>
	<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> your favorite Photos for quick access
	</li><li>tap <i class="fa fa-arrow-up"></i> for easy sharing through <i class="fa fa-envelope"></i>, <i class="fa fa-facebook-square"></i>, <i class="fa fa-twitter-square"></i> 
	</li><li>tap <i class="fa fa-arrow-right"></i> to open the Moment
	</li>
</ul><p></p>
			</div>
		  </div>
		  <div class="footer">
			<button type="button" class="btn btn-success" ng-click="gettingStartedDone($event)">Take me there</button>
		  </div>
		</div></div>
</div>
</div>
