<!--Body content-->
<div id="getting-started">
<div rn-carousel rn-carousel-buffered  rn-carousel-indicator rn-carousel-index="carouselIndex"
>
	<div class="card-wrap" 
	ng-repeat="card in gettingStarted"
	>
		<div class="getting-started card text-center">
		  <div class="header">
		    <figure class="icon">
		      <i class="icon fa fa-3x ng-class:card.icon;"></i>
		      <figcaption class="category" ng-bind-html="card.subhead"></figcaption>
		    </figure>  
		  </div>  
		  <div class="body">
		    <div class="title" ng-bind-html="card.title"></div>
		    <div class="content text-left center-block" ng-bind-html="formatCardBody(card.body)"></div>
		  </div>
		  <div class="footer">
		  	<div ng-bind-html="card.footer"></div>
		  	<button type="button" class="btn btn-success"
		  	ng-if="$last" 
		  	ng-click="gettingStartedDone($event)">Take me there</button>
		  </div>
		</div>
	</div>
</div>
</div>