<!--Body content-->
<div id="getting-started">
<div rn-carousel rn-carousel-buffered  rn-carousel-indicator rn-carousel-index="carouselIndex"
>
	<div class="rn-carousel-slide card-wrap card-1"><div class="getting-started card text-center">
	  <div class="header">
	    <figure class="icon">
	      <i class="icon fa fa-3x fa-bullhorn"></i>
	      <figcaption class="category">Getting Started</figcaption>
	    </figure>  
	  </div>  
	  <div class="body">
	    <div class="title">More Fun / Less Work</div>
	    <div class="content text-left center-block">
<p>We put a scavenger hunt inside your Camera Roll to help you find your favorite photos.</p>
<p>With quick &amp; easy Challenges for when you have time to kill.</p>
		</div>
	  </div>
	  <div class="footer">
	  </div>
	</div></div>
	
	<div class="rn-carousel-slide card-wrap card-2"><div class="getting-started card text-center">
		  <div class="header">
		    <figure class="icon">
		      <i class="icon fa fa-3x fa-clock-o"></i>
		      <figcaption class="category" >Getting Started</figcaption>
		    </figure>  
		  </div>  
		  <div class="body">
		    <div class="title">Just 5 Minutes a Day</div>
		    <div class="content text-left center-block">
<p>Make it a daily habit, and before you know it &mdash; you'll have all your favorite photos at the tip of your fingers.</p>
			</div>
		  </div>
		  <div class="footer">
		  	<div>Think of it as a personal trainer for your CameraRoll</div>
		  </div>
		</div></div>

	<div class="rn-carousel-slide card-wrap card-4"><div class="getting-started card text-center">
		  <div class="header">
		    <figure class="icon">
		      <i class="icon fa fa-3x fa-smile-o"></i>
		      <figcaption class="category" >Get Happi</figcaption>
		    </figure>  
		  </div>  
		  <div class="body">
		    <div class="title">Take a Moment to Get Happi</div>
		    <div class="content text-left center-block">
<p>Discover photos long forgotten, Re-live your best moments, Share some favorite photos...</p>
<p>We'll make it easy.</p>
			</div>
		  </div>
		  <div class="footer">
<button type="button" class="btn btn-success" ng-click="gettingStartedDone($event)">I'm Ready to Get Started!</button>		  
		  </div>
		</div></div>	
		
</div>
</div>
