<!--Body content-->
<div class="card-wrap" >
	<div class="setting card list-unstyled text-center">
	  <div class="header">
	    <figure class="icon">
	      <i class="icon fa fa-bell fa-3x"></i>
	      <figcaption class="category">Reminders</figcaption>
	    </figure>  
	  </div>  
	  <div class="body">
	    <h3 class="title">Just 5 Minutes a Day</h3>
	    <p>Set a daily reminder to find some Happi. Pick a time when you can take a break.</p>
	    <div id="set-reminder" class="timepicker-wrap" ng-model="reminderTime">
	    	<div ng-hide="!nextReminder()">Next reminder: <span>{{nextReminder() | amCalendar}}</span></div>
	    	<div class="center-block">
					<timepicker class="timepicker" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
				</div>
				<div class="center-block">
		    	<div class='btn-group '>
			      <button type="button" class="btn btn-primary" 
			      ng-click="localNotificationDelay(5)" >5 sec</button>
			      <button type="button" class="btn btn-primary" 
			      ng-click="localNotificationDelay(30)">30 sec</button>
			      <button type="button" class="btn btn-success" 
							ng-click="localNotificationTime(reminderTime, 'daily')" >Set</button>
			    </div>
			  </div>
	    </div>
	    <br />
	    <p class="text-left hidden"><i>Note: we offer short reminders to simulate the experience during testing. Close the app after you set a reminder to see the notifcation.</i></p>
	  </div>
	  <div class="footer">
	  </div>
	</div>
</div>