<div id="notify" class="notify overlay">
  <alert ng-repeat="alert in notify.alert()" 
    type="alert.type" 
    close="notify.close(alert.key)"
    ><div ng-bind-html="alert.msg"></div></alert>
</div>
<div id="message" class="notify inline">
    <alert ng-repeat="alert in notify.message()" 
    type="alert.type" 
    close="notify.close(alert.key)"
    ><div ng-bind-html="alert.msg"></div></alert>
</div>
<!--Body content-->
<div class="card-wrap" >
	<div class="setting card list-unstyled text-center">
	  <div class="header">
	    <figure class="icon">
	      <i class="icon fa fa-bell fa-3x"></i>
	      <figcaption class="category">Reminders</figcaption>
	    </figure>  
	  </div>  
	  <div class="body">
	    <h3 class="title">Just 5 Minutes a Day</h3>
	    <p>Set a reminder to find your Happi. Just 5 minutes a day is all it takes. And before you know it, you'll have all your Happi at the tip of your fingers.</p>
	    <h4>When would you like to <span class="nowrap">put in your 5 minutes a day?</span></h4>
	    <div id="set-reminder">
	    	<div class='btn-group'>
		    	<button type="button" class="btn btn-primary" 
		      ng-click="localNotification(0)" >now</button>
		      <button type="button" class="btn btn-primary" 
		      ng-click="localNotification(5)" >5 sec</button>
		      <button type="button" class="btn btn-primary" 
		      ng-click="localNotification(30)">30 sec</button>
		    </div>
	    </div>
	    <br />
	    <p class="text-left"><i>Note: we offer short reminders to simulate the experience during testing. Close the app after you set a reminder to see the notifcation.</i></p>
	  </div>
	  <div class="footer">
	  </div>
	</div>
</div>