// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// snaphappi variables
@snappi-red:            #D01F40;
@snappi-darkred:        #711124;
@snappi-orange:         #F16122;
@snappi-yellow:         #FDF9D0;
@snappi-darkblue:       #152437;   
@snappi-peach:          #E9C1C1;

@font-size-mini:         ceil(@font-size-base * 0.75); // ~11px

@card-width: 320px;

#getting-started .rn-carousel-slide {
	width: 99.33% !important;

}
.card.getting-started {
	cursor: default;
	min-height: 320px;
	.body {
		.title {
			font-size: @font-size-large;
			font-weight: bold;
			margin-bottom: 1em;
		}
		.content {
			font-size: @font-size-large; 
			max-width: 375px;
			p {
				margin: 0 4px 10px;		
			}
		}
	}
}

#getting-started .rn-carousel-indicator {
	bottom: 5px;
	background-color: transparent;
	.active {
		color: @snappi-red;
	}
}

.card.setting.reminder {
	.timepicker-wrap {
		position: relative;
		.timepicker {
			display: inline-block;
		}
		.btn.set {
			position: relative;
			top: -50px;
		}
	}
	.days-of-week {
		margin-bottom: 10px;
		.btn {
			color: white;
			position: relative;
			padding-bottom: 4px;
			> span {
				color: @gray-dark;
				border-bottom: 2px solid transparent;
			}
			&.active > span {
				color: white;
				border-bottom-color: white;
			}
		}
	}
}