<div class="container">
  <div class="row">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="completed">Completed</option>
        <option value="name">Name</option>
        <option value="category">Category</option>
      </select>
      <button type="button" ng-click="shuffleDeck()"  class="btn btn-default">
    </div>
    <div class="span10">
      <!--Body content-->
      <div ng-model="card" 
            class="challenge summary list-unstyled text-center">
        <figure class="icon">
          <i class="icon {{card.icon}} fa-3x"></i>
          <figcaption class="category">{{card.category.join(":")}}</figcaption>
        </figure>
        <div class="body">
          <h4 class="heading">Find a Happi moment</h4>
          <h2 class="title">{{card.title}}</h2>
          <p class="description text-left">{{card.description}}</p> 
          <div class="meta well">
            <dl class="stats-wrap force-dl-horizontal">
              <dt>Completed</dt><dd>1234</dd>
              <dt>Accept</dt><dd>88%</dd>
              <dt>Pass</dt><dd>15%</dd>
            </dl>
          </div>
        </div>
        <div class="footer btn-group">
          <button type="button" class="btn btn-primary">Accept</button>
          <button type="button" class="btn btn-default">Later</button>
          <button type="button" ng-click="nextCard()"  class="btn btn-default">Pass</button>
        </div>
      </div>
    </div>
  </div>
</div>